@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css2?family=Montserrat);


body {
  font-family: 'Montserrat',serif;
  /* font-family: 'Open Sans',serif; */
  font-size: 16px;
  line-height: 1.8em;
  font-size: 18px;
  line-height: 1.8em;
  color: #dcdcdc;  
  background-image: 
    url(./images/mdf/material-font-Z.png),
    url(./images/mdf/material-font-E.png),
    url(./images/mdf/material-font-N.png),
    url(./images/png-patterns/spartans.png), 
    linear-gradient(180deg, rgb(47, 57, 59) 0%, rgba(80, 74, 123) 50%, rgb(91, 62, 21) 100%);  
  background-repeat: 
  no-repeat,
  no-repeat,
  no-repeat, 
  repeat, 
  no-repeat;
  background-position: 
  top 100px left 15px, 
  top 240px left 15px,
  top 380px left 15px,
  50% 50%, 
  50% 50%;
  background-size: 
  105px, 
  105px,
  105px,
  300px, 
  cover;
}

h1 {
  font-family: 'Montserrat';
}
h2, h3 {
  font-family:'Open Sans';
}
a {
  color: #e6d2d2;
}

.page-wrapper {
  background-color: rgba(239, 239, 239, 0.601);
  padding: 30px;
  max-width: 1200px;
  margin-left: 130px;
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  grid-template-areas:
  "h h h"
  "m m s"
  "m m s";
  background-image: linear-gradient(180deg, rgba(47, 57, 59, 0.5) 0%, rgba(80, 74, 123, 0.5) 50%, rgb(91, 62, 21, 0.5) 100%);
  padding: 30px;
  padding-left: 50px;
}

.summary a:nth-child(1){
  padding: 10px;
  border-radius: 10px;
  /* background-color: rgba(131, 32, 184, 0.354); */
  background-image: url(./images/icons/file-download.png);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: right 6px center;
  padding-right: 30px;
}

.summary a:nth-child(2){
  padding: 10px;
  border-radius: 10px;
  /* background-color: rgba(131, 32, 184, 0.354); */
  background-image: url(./images/icons/css.png);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: right 6px center;
  padding-right: 30px;
}

/* 
==========================================================================
FOOTER AND ICONS
==========================================================================
*/

footer {
  padding-top: 20px;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  flex: content;
  flex-direction: row;
  justify-content: space-evenly; 
}

.zen-validate-html {
  color: transparent;
  border-radius: 5px;
  background-color: rgba(184, 98, 32, 0.354);
  background-image: url(./images/icons/html.png);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 11px 22px;
  padding: 20px;
  padding-left: 0px;
  padding-right: 0px;
}
.zen-validate-css {
  color: transparent;
  border-radius: 5px;
  background-color: rgba(184, 98, 32, 0.354);
  background-image: url(./images/icons/css.png);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 11px 22px;
  padding: 20px;
  padding-left: 10px;
  padding-right: 4px;
}
.zen-license {
  color: transparent;
  border-radius: 5px;
  background-color: rgba(184, 98, 32, 0.354);
  background-image: url(./images/icons/creative.png);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 11px 22px;
  padding: 20px;
  padding-left: 15px;
  padding-right: 10px;
}
.zen-accessibility {
  color: transparent;
  border-radius: 5px;
  background-color: rgba(184, 98, 32, 0.354);
  background-image: url(./images/icons/accessibility.png);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 11px 22px;
  padding: 20px;
  padding-left: 10px;
  padding-right: 0px;
}
.zen-github {
  color: transparent;
  border-radius: 5px;
  background-color: rgba(184, 98, 32, 0.354);
  background-image: url(./images/icons/github.png);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 11px 22px;
  padding: 20px;
  padding-left: 15px;
  padding-right: 10px;
}

/* 
==========================================================================

==========================================================================
*/

.main {
  grid-area: m;
}

.intro {
  grid-area: h;
  /* background-color: #0091ad; */
}

.intro h1 {
  padding: 15vh 0 0 10vh;
  line-height: normal;
  font-size: 5.5rem;
}

.intro h2 {
  padding: 10vh 0 10vh 10vh;
  line-height: 3.4rem;
  font-size: 3.5rem;
}

.summary {
  /* background-color: #5e6162; */
  padding: 1vh 0 1vh 10vh;
  font-size: 1rem;
  max-width: 300px;
}


/* 
==========================================================================
SIDEBAR
==========================================================================
*/

.sidebar {
  grid-area: s;
  padding-left: 20px;
  background-image: linear-gradient(180deg, rgba(80, 74, 123, 0.5) 0%, rgb(91, 62, 21, 0.5) 100%);
}

.sidebar  h3 { 
  font-size: 3em;
  line-height: 70%;
}

.design-name {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-decoration: none;
  color: black;
  font-size: 2.5rem;
  line-height: 2.3rem;
  padding-top: 25px;
}

.designer-name {
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
}

.design-selection li {
  list-style: none;
  text-decoration: none;
  font-size: 1rem;
}

.design-selection li:nth-child(2n+1) {
  clear: left;
}

.design-archives, .zen-resources {
  clear: left;
}

.design-name {
  display: block;
  margin-bottom: 0.25em;
}

.design-selection ul{
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}

.design-archives {
  margin-top: 100%;
}

.resources, .archives {
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  text-decoration: none;
  color: black;
  font-size: 2.5rem;
  line-height: 2.3rem;
  padding-top: 25px;
}

.zen-resources li, .design-archives li {
  list-style: none;
}

.zen-resources li > a, .design-archives li > a {
  color: rgb(215, 136, 0);
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;

}


/* 
==========================================================================
INTRO
==========================================================================
*/
.intro::after{
  content: '    ';
  padding: 0px 50%;
  background-image: url('./images/png-patterns/cookies.png');
  position:relative; 
  background-size:contain;
}

.preamble {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  grid-template-areas:
	"a a a"
	"b c d";
  /* background-color: white; */
  padding-top: 20vh;
  padding-bottom: 20vh;
  padding-left: 2em;
  padding-right: 2em;

}

.preamble h3 {
  /* background-color: #1780a1; */
  font-size: 4em;
  line-height: 1em;
  grid-area: a;
  height: 20vh;
  text-align: center;
  /* border: 1px red solid; */
}

.preamble p{
  /* background-color: #2e6f95; */
  grid-area: b;
}
.preamble p:nth-child(2) {
  /* background-color: #455e89; */
  grid-area: c;
}
.preamble p:nth-child(3) {
  /* background-color: #5c4d7d; */
  grid-area: d;
}
/* 
==========================================================================

==========================================================================
*/


.explanation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 1em;
  grid-column-gap: 1em;
  grid-template-areas: 
  "e e"
  "f g";
}

.explanation h3 {
  grid-area: e;
}

.explanation p{
  grid-area: f;
}
.explanation p:nth-child(2) {
  grid-area: g;
}

.participation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 1em;
  grid-column-gap: 1em;
  grid-template-areas: 
  "i i"
  "j k"
  "l l";
}

.participation h3 {
  grid-area: i;
}

.participation p{
  grid-area: j;
}
.participation p:nth-child(2) {
  grid-area: k;
}
.participation p:nth-child(3) {
  grid-area: l;
}

.requirements {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 1em;
  grid-column-gap: 1em;
  grid-template-areas: 
  "m m"
  "n n"
  "o p"
  "q q"
  "r r";
}

.requirements h3 {
  grid-area: m;
}

.requirements p{
  grid-area: n;
}
.requirements p:nth-child(2) {
  grid-area: o;
}
.requirements p:nth-child(3) {
  grid-area: p;
}
.requirements p:nth-child(4) {
  grid-area: q;
}
.requirements p:nth-child(6) {
  grid-area: r;
}


.preamble > p, .explanation > p, .participation > p, .benefits > p, .requirements > p {
  color: #151515;
}

/* 
==========================================================================

==========================================================================
*/

@media screen and (max-width: 800px) {
  .page-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    grid-template-areas:
    "h h h"
    "m m m"
    "s s s";
  }
}


@media screen and (max-width: 1000px) {
  .page-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    grid-template-areas:
    "h h h"
    "m m m"
    "s s s";
  }


  .preamble {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    grid-template-areas:
    "a a"
    "b c"
    "d d";
  }

  .explanation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1em;
    grid-column-gap: 1em;
    grid-template-areas: 
    "e e"
    "f g";
  }
}

@media screen and (max-width: 700px) {

  body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.8em;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.8em;
    color: #dcdcdc;  
    background-image: 
      url(none),
      url(none),
      url(none),
      url(./images/png-patterns/spartans.png), 
      linear-gradient(180deg, rgb(47, 57, 59) 0%, rgba(80, 74, 123, 0.572) 50%, rgb(91, 62, 21) 100%);  
    background-repeat: 
    no-repeat,
    no-repeat,
    no-repeat, 
    repeat, 
    no-repeat;
    background-position: 
    top 100px left 15px, 
    top 240px left 15px,
    top 380px left 15px,
    50% 50%, 
    50% 50%;
    background-size: 
    105px, 
    105px,
    105px,
    300px, 
    cover;
  }

  .page-wrapper {
    margin-left: 5px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    grid-template-areas:
    "h h"
    "m m"
    "s s";
  }

  .preamble {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    grid-template-areas:
    "a"
    "b"
    "c"
    "d";

  }

  .preamble h3 {
    font-size: 3em;
    line-height: 1em;
    grid-area: a;
    height: 20vh;
    text-align: center;
  }
  

  .explanation {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 1em;
    grid-column-gap: 1em;
    grid-template-areas: 
    "e"
    "f"
    "g";
  }


}